In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2021-03-27 16:16:02,-2.5744,150.7967,81.32,79,92,13.27
1,1,Mataura,NZ,2021-03-27 16:16:08,-46.1927,168.8643,57.99,90,40,1.01
2,2,North Bend,US,2021-03-27 16:17:12,43.4065,-124.2243,44.01,100,90,4.99
3,3,Cherskiy,RU,2021-03-27 16:16:17,68.7500,161.3000,-21.41,99,32,5.64
4,4,Aban,RU,2021-03-27 16:20:03,56.6700,96.0600,24.57,92,100,4.88

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kavieng,PG,2021-03-27 16:16:02,-2.5744,150.7967,81.32,79,92,13.27
12,12,Pochutla,MX,2021-03-27 16:17:49,15.7432,-96.4661,90.00,37,1,5.64
13,13,Chuy,UY,2021-03-27 16:16:47,-33.6971,-53.4616,76.66,76,86,2.57
17,17,Vilhena,BR,2021-03-27 16:20:05,-12.7406,-60.1458,82.40,74,40,8.05
18,18,Souillac,MU,2021-03-27 16:16:54,-20.5167,57.5167,77.00,88,40,6.91
20,20,Foso,GH,2021-03-27 16:20:06,5.7012,-1.2866,86.23,62,92,4.54
22,22,Carnarvon,AU,2021-03-27 16:16:35,-24.8667,113.6333,77.00,78,1,11.50
26,26,Avarua,CK,2021-03-27 16:16:16,-21.2078,-159.7750,80.60,83,75,9.22
28,28,Akyab,MM,2021-03-27 16:17:27,20.1500,92.9000,80.60,68,9,5.44
29,29,Marawi,PH,2021-03-27 16:18:58,7.9986,124.2928,77.00,90,100,3.00

In [11]:
preferred_cities_df.count()

City_ID       178
City          178
Country       177
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Kavieng      PG     81.32  -2.5744  150.7967
12   Pochutla      MX     90.00  15.7432  -96.4661
13       Chuy      UY     76.66 -33.6971  -53.4616
17    Vilhena      BR     82.40 -12.7406  -60.1458
18   Souillac      MU     77.00 -20.5167   57.5167
20       Foso      GH     86.23   5.7012   -1.2866
22  Carnarvon      AU     77.00 -24.8667  113.6333
26     Avarua      CK     80.60 -21.2078 -159.7750
28      Akyab      MM     80.60  20.1500   92.9000
29     Marawi      PH     77.00   7.9986  124.2928

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kavieng,PG,81.32,-2.5744,150.7967,Nusa Island Retreat
12,Pochutla,MX,90.00,15.7432,-96.4661,Hotel Posada San Jose
13,Chuy,UY,76.66,-33.6971,-53.4616,Nuevo Hotel Plaza
17,Vilhena,BR,82.40,-12.7406,-60.1458,Hotel Mirage
18,Souillac,MU,77.00,-20.5167,57.5167,Shanti Maurice Resort & Spa
20,Foso,GH,86.23,5.7012,-1.2866,Pristina Cottage
22,Carnarvon,AU,77.00,-24.8667,113.6333,Hospitality Carnarvon
26,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
28,Akyab,MM,80.60,20.1500,92.9000,Hotel Memory
29,Marawi,PH,77.00,7.9986,124.2928,Derogongan Residence

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))